<!DOCTYPE html>

<html>

  {% include head.html %}

  <body class="landing">

    <div id="bgStars">
      <img id="bgVideoImg" src="/images/starsImage.jpg" />
      <video id="bgVideo" autoplay loop muted playsinline>
        <source src="/images/starsVideo.mp4" type="video/mp4" autoplay="autoplay" loop="loop" onended="this.play()">
      </video>
      <!-- make perceived quality of video higher by bg noise; TODO: tiled small noise image -->
      <img id="bgStarNoiseImg" src="/images/starsNoiseMask.png" />
    </div>


    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {{ content }}

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>